<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Flask App</title>
    <link
      rel="stylesheet"
      href="{{ url_for('static', filename='css/styles.css') }}"
    />
    <style>
      .nav {
        display: flex;
        flex-direction: row;
        gap: 30px;
        margin: 30px;
        font-size: 20px;
      }
      .link {
        text-decoration: none;
        font-weight: 600;
        color: black;
      }
      .link:hover {
        text-decoration: underline;
      }
    </style>
  </head>
  <body>
    <nav class="nav">
      <a href="/" class="link">Home</a>
      <a href="/register" class="link">Register</a>
      <a href="/login" class="link">Login</a>
    </nav>
    {% block content %}{% endblock %}
  </body>
</html>
